@model List<MvcApplication3.Models.User>
@{
    ViewBag.Title = "Edit";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
	<title>Edit - Cooking Recipe</title>

    	<link rel="stylesheet" type="text/css" href="~/content/demo.css">
    	<link rel="stylesheet" type="text/css" href="~/content/styleRForm.css">
	<link rel="stylesheet" type="text/css" href="~/content/style.css">

</head>

<body>
	<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
                        @Html.ActionLink("Home", "Index", "Home");
					</li>
					<li>
                        @Html.ActionLink("Menu", "Menu", "Menu");                             
					</li>
					<li >
                        @Html.ActionLink("Videos", "videos", "Home");
					</li>
					<li>
                        @Html.ActionLink("About", "about", "About");
					</li>
					<li>
                        @Html.ActionLink("Blog", "blog", "Home");
					</li>                 
                    <li>
                        @Html.ActionLink("Contact Us", "Contact", "Home");
					</li>
                    <li  class="current">
                        @Html.ActionLink("Login", "login", "Login");
					</li>
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div>
        
                            
   <h2>List of users</h2>
                            <table>
                                <tr>
                                    <td> Id </td>
                                    <td> Name </td>
                                    <td> Email </td>
                                    <td> Password </td>
                                    <td> Gender </td>
                                    <td>   Mobile</td>
                                </tr>
                            </table>
                            @foreach (var i in Model)
                            { 
                             <tr>
                                    <td> i.Id </td>
                                    <td> i.Name </td>
                                    <td> i.Email </td>
                                    <td> i.Password </td>
                                    <td> i.Gender </td>
                                    <td>  i.Mobile</td>
                                 <td><a href="~/Login/Edit">update</a></td>
                                </tr>
                            }

            <br /><br />
								<p> Dear user! please login to explore many more amazing features of our website
							</p><h5><i>Thankyou</i></h5>
						</div>
					</div>
				</div>
			</div>
        </div>
			<div>
			<div>
				<h3>Cooking Video</h3>
				<a href="~/Home/videos"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
			<div>
				<h3>Featured Recipes</h3>
				<ul id="featured">
					<li>
						<a href="~/Menu/Menu"><img src="~/images/sandwich.jpg" alt="Image"></a>
						<div>
							<h2><a href="~/Menu/Menu">Beef Sandwich</a></h2>
							<span>by: Anna</span>
						</div>
					</li>
					<li>
						<a href="~/Menu/Menu"><img src="~/images/biscuit-and-coffee.jpg" alt="Image"></a>
						<div>
							<h2><a href="~/Menu/Menu">Biscuit &amp; Sandwich</a></h2>
							<span>by: Sarah</span>
						</div>
					</li>
					<li>
						<a href="~/Menu/Menu"><img src="~/images/pizza.jpg" alt="Image"></a>
						<div>
							<h2><a href="~/Menu/Menu">Delicious Pizza</a></h2>
							<span>by: Rico</span>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<h3>Blog</h3>
				<ul id="blog">
					<li>
						<a href="~/Home/blog">Your website is really fantastic.</a>
						<span class="date">Jan 9, by Liza</span>
					</li>
					<li>
						<a href="~/Home/blog">I love your recipes.your website is a great platform.</a>
						<span class="date">Feb 16, by Myk</span>
					</li>
					<li>
						<a href="~/Home/blog">Food and recipes online is really awesome.</a>
						<span class="date">March 15, by Xaxan</span>
					</li>
				</ul>
			</div>
			<div>
				<h3>Get Updates</h3>
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
				<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
				<a href="http://freewebsitetemplates.com/go/youtube/" target="_blank" id="youtube">Youtube</a>
				<a href="http://freewebsitetemplates.com/go/flickr/" target="_blank" id="flickr">Flickr</a>
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
			</div>
		</div>
	
	<div class="footer">
		<div>
			<p>
				&copy; Copyright 2012. All rights reserved
			</p>
		</div>

	</div>
        </div>
</body>
</html>
